@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
	font-family: 'Share Tech', sans-serif;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.sectiontitle {
	text-align: center;
	font-size: 7vw;
	text-decoration: underline;
}

.resourcesectiontitle {
	text-align: center;
	font-size: 7vw;
	text-decoration: underline;
}

.title {
	font-size: 4vw;
	text-decoration: underline;
}

.maincontainer {
	display: flex;
	flex-direction: column;
}

.fact1 {
	width: 40vw;
	padding-left: 15vw;
	padding-bottom: 5vh;
}

.fact2 {
	width: 40vw;
	padding-left: 48vw;
	padding-bottom: 5vh;
}

.resourcecontainer {
	display: flex;
	flex-direction: column;
	padding-left: 7.5vw;
}

.resourcetitle {
	text-align: center;
	font-size: 4vw;
	text-decoration: none;
	color: black;
}

/* Credit: https://codepen.io/t_afif/pen/poawLeQ */
.hover-3 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  text-align: center;
  font-size: 4vw;
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.hover-3:hover {
  --_p: 100%;
  --_s: .3s;
}

