@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
	font-family: 'Share Tech', sans-serif;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.maintitle {
	text-align: center;
	font-size: 7vw;
	text-decoration: underline;
	padding-bottom: 10vh;
}

.title {
	font-size: 4vw;
	text-decoration: underline;
}

.maincontainer {
	display: flex;
	flex-direction: column;
}

.fact1 {
	width: 40vw;
	padding-left: 15vw;
	padding-bottom: 5vh;
}

.fact2 {
	width: 40vw;
	padding-left: 48vw;
	padding-bottom: 5vh;
}